.link-category {
  color: $color-typography-default;
  text-decoration: none;
  span {
    font-weight: bold;
  }

  @include media-min("md") {
    font-size: 18px;

    &:hover .link-category__icon {
      transform: translateX(3px);
    }
  }
}

.link-category__icon {
  margin-left: 5px;
  transition: all .3s;
}