body {
  font-family: $font-sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.75em;
  color: $color-typography-default;
}

:root {
  --gutter-x: 1rem;
}

*, ::after, ::before {
  box-sizing: border-box;
}

a,
.text-link {
  color: $color-vieux-rose;
  //text-decoration: none;
}

a:hover,
.text-link {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  border-top: 1px solid rgba(0,0,0,10%);
}