.header-container-desktop {
  display: none;
  @include media-min("md") {
  background-color: $color-regular-white;
    display: block;
    padding: spacing(2) spacing(4);
  }
}
.header-menu-desktop {
  display:none;
  @include media-min('md') {
    display: block;
    visibility: visible;
  }
}
.header__nav-items {
  @include media-max("md") {
    order: 1;
  }
}
.header__nav-items ul {
  padding: 0;
  margin: 0;
  list-style: none;
  @include media-min("md") {
    display: flex;
  }
}
.header__nav-items ul li {
  padding-right: spacing(3);
}
.header__nav-items a {
  color: $color-typography-default;
  text-decoration: none;
  font-family: $font-serif;
  letter-spacing: 1px;
}
.header__nav-items ul ul {
  display: none;
}
.header__nav-items li:hover ul {
  display: block;
  position: absolute;
  background-color: $color-regular-white;
  z-index: 100;
  padding: 0 $spacing;
}
.header__search input{
  background: $color-grey-light;
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 100%;
  min-width: 400px;
  &:focus-visible {
    outline-color: $color-grey-medium;
    background-color: $color-regular-white;
  }
  &::placeholder {
    color: black;
  }
}
.header__menu-icon {
  @include media-min("md") {
    display: none;
  }
}
.header__menu {
  display: none;
  @include media-min("md") {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header__brand svg {
  @include media-max("lg") {
    width: 150px;
  }
}

.header-container-mobile {
  display: block;
  @include media-min('md') {
    display: none;
    visibility: hidden;
  }
}
.header-mobile__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: spacing(1) spacing(2);
}
.header-mobile__content {
  transform: translateX(-100%);
  background: white;
  z-index: 100;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transition: transform .3s ease-in-out;
  &.open {
    transform: translateX(0);
    overflow: auto;
  }

  .menu {
    padding: 0;
    list-style-type: none;
  }
  .menu-item a {
    color: $color-typography-default;
    text-decoration: none;
    font-family: $font-serif;
    letter-spacing: 1px;
    padding: spacing(2) spacing(3);
    display: inline-block;
    width: 100%;
  }

  @include media-min('md') {
    display: none;
    visibility: hidden;
  }
}
.header-mobile__search {
  padding: spacing(2) spacing(3) 0;
  & input {
    min-width: auto;
    padding: 16px;
  }
}
