.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 30px auto;

  .page-numbers {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    line-height: 1;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 600;
    background: transparent;
  }

  a, a:hover {
    color: $color-typography-default;
  }

  .page-numbers.current,
  a.page-numbers:hover {
    background: $color-creme;
  }

  a.prev,
  a.next,
  a.prev:hover,
  a.next:hover {
    background: transparent;
  }

}