.post-card {
  background-color: $color-regular-white;
  border-radius: $card-border-radius;
  width: 80vw;
  overflow: hidden;
  transition: transform .3s;
  height: 100%;

  &:hover img {
    transform: scale(1.02);
  }

  @include media-min("md") {
    width: auto;
  }
}

.post-card__link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.post-card__thumbnail {
  height: 190px;
  overflow: hidden;
  position: relative;
}

.post-card__thumbnail img {
  transition: all .3s;
  width: 100%;
  object-fit: cover;
  height: 190px;
}

.post-card__content {
  padding: 1rem;
}

.post-card__title {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: $color-typography-default;
}

.post-card__info {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: $color-regular-white;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 14px;
  color: $color-typography-default;
  box-shadow: 0 0 10px rgba(0,0,0,.3);

  svg, svg path {
    width: 14px;
    fill: $color-typography-default;
  }

  .post-like__wrapper,
  .post-card__info-comments {
    display: flex;
    align-items: center;
  }

  .post-card__info-likes {
    margin-right: 8px;
  }
}
